:root {
  color: #EEF4F8;
  background-color: #091819;
  background-image: url('./assets/images/starlight.jpg');
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*  Fonts */
@font-face {
  font-family: 'IMFellEnglish';
  src: url('./assets/fonts/IMFellEnglish.ttf') format('truetype');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');
}
/*  Links */
a {
  color: grey;
}
/*  Universal code */
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
footer {
  padding: 20px;
}
p {
  font-family: 'IMFellEnglish';
  font-weight: 500;
  max-width: 500px;
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
}
h1 {
  font-family: 'IMFellEnglish';
  font-size: 3.7em;
  line-height: 1.0;
  margin: 65px 0px 15px;
  padding: 0;
}
h2 {
  font-family: 'IMFellEnglish';
  font-size: 2.0em;
  line-height: 1.0;
  margin:40px 10px 20px;
  padding: 0;
}

h3 {
  font-family: 'IMFellEnglish';
  font-size: 1.5em;
}

label {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.0em;
  max-width: 50%;
  line-height: 1.1;
}

#text {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.0em;
  max-width: 70%;
  margin-right: 10px;
  line-height: 1.1;
}
.highlight {
  color: #DEA262;
}
/*  Containers */
.friends-buttons-container {
  display: flex;
  flex-direction: row;
}
.book-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
/*  Images */
#girl {
  width: 800px;
  margin-top: 50px;
  margin-left: 100px;
  padding: 0px;
}
img {
  display: flex;
  padding-left: 2vh;
  width: 150px;
  cursor: pointer;
}
.homepage-logo {
  flex: 0 0 auto;
  font-size: 20px;
  font-weight: bold;
}

/*  Buttons */
.button:hover {
  background-color: #FFCA0B;
  color: #091819;
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(255, 215, 0, 0.5);
}
button {
  background-color: #070F2A;
  font-family: 'IMFellEnglish', serif;
  color: white;
  padding: 10px 40px;
  border: solid grey 1px;
  text-align: center;
  border-radius: 412px;
  cursor: pointer;
  margin: 20px;
}
button:hover {
  background-color: #070F2A;
  color: #DEA262;
  transform: scale(1.02);
}

#friends-buttons {
  background-color: #070F2A;
  font-family: 'IMFellEnglish', serif;
  color: white;
  padding: 10px 40px;
  border: solid #DEA262 1px;
  text-align: center;
  border-radius: 412px;
  cursor: pointer;
  margin: 7px;
}
#signUpButton {
  background-color: #070F2A;
  font-family: 'IMFellEnglish', serif;
  color: #DEA262;
  padding: 10px 40px;
  border: solid #DEA262 1px;
  text-align: center;
  font-weight: 900;
  border-radius: 412px;
  cursor: pointer;
  max-height: 40px;
  margin-top: 30px;
}

#signInButton {
  background-color: #070F2A;
  font-family: 'IMFellEnglish', serif;
  color: #DEA262;
  padding: 10px 40px;
  border: solid #DEA262 1px;
  text-align: center;
  font-weight: 900;
  border-radius: 412px;
  cursor: pointer;
  max-height: 40px;
  margin-top: 30px;
}

#signInButton:hover {
  background-color: #070F2A;
  color: #DEA262;
  transform: scale(1.02);
}

#signUpButtonHomepage {
  background-color: #070F2A;
  font-family: 'IMFellEnglish', serif;
  color: #white;
  padding: 10px 40px;
  border: solid #DEA262 1px;
  font-weight: 900;
  border-radius: 412px;
  cursor: pointer;
  max-height: 40px;
  align-items: center;
  display: grid;
  width: 210px;
}

#signUpButtonHomepage:hover {
  background-color: #070F2A;
  color: #DEA262;
  transform: scale(1.02);
}

#signUpButton:hover {
  background-color: #070F2A;
  color: #DEA262;
  transform: scale(1.02);
}

/*  Grid and Display Elements */

#favouriteBooksContent {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.0em;
  line-height: 1.1;
  padding: 10px;
  background-color: #070F2A;
  border: solid #DEA262 1px;
  margin-top: 10px;
  padding-right: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #DEA262;
}
input:focus {
  background-color: #070F2A;
  border-color: #DEA262;
  color: #DEA262;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header-section {
  display: flex;
  flex-direction: row;
}
.count-display {
  font-family: 'IMFellEnglish', serif;
  font-size: 25px;
  font-weight: 800;
}
.favouriteBooksMessage {
  font-family: 'IMFellEnglish', serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.homepage-header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  position: relative;
  height: 60px;
  padding: 0 20px;
}
.homepage {
  width: 100%;
}
.homepage-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 350px;
}
.homepage-content {
  display: flex;
  flex-direction: row;
}
.user-library {
  background-color: #ffffff07;
  border-radius: 20px;
  width: 1200px;
  height: 950px;
  color: white;
  margin: 30px;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.user-library-binds {
  background-color: #ffffff07;
  border-radius: 20px;
  width: 1200px;
  height: 950px;
  color: white;
  margin: 30px;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.name-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.16);
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 20px;
  border-radius: 10px;
}
.first-name {
  font-family: 'Josefin Sans';
  font-weight: 600;
  max-width: 500px;
  font-size: 1.0em;
  margin-top: 25px;
}
.user-friends {
  background-color: #09151d;
  border-radius: 20px;
  max-width: 350px;
  max-height: 400px;
  overflow-y: auto;
  color: white;
  margin-top: 50px;
  margin-left: 30px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.user-binds {
  background-color: #09151d;
  color: white;
  border-radius: 20px;
  max-width: 350px;
  height: 90px;
  margin-top: 20px;
  margin-left: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#homepage-subheadings {
  font-family: 'IMFellEnglish';
  font-size: 1.5em;
  opacity: 80%;
  line-height: 1.0;
  padding: 0;
  text-align: left;
}
.search-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.friend-search-input {
  width: 240px;
  font-family: "Josefin Sans";
}
.search-bar input {
  width: 450px;
    font-family: "Josefin Sans";
    padding: 5px,
}
.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 30px 10px 20px -50px;
}
.book-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  width: 800px;
  gap: 10px;
  margin: 30px;
}
a {
  color: grey;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IMFellEnglish', serif;
  font-size: 1.5em;
  color: white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  text-align: center;
  background-color: #336699;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.initials-circle {
  background-color: #1FB7A9;
}
.plus-circle {
  background-color: #555555;
  position: absolute;
  left: 70px;
  z-index: 1;
}

.bind-header {
  font-family: 'IMFellEnglish';
  font-size: 60px;
  line-height: 1.0;
  margin: 80px 40px 40px 30px;
  width: 50%;
  padding: 0;
}
.bind-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #ffffff14 0%, #00000060 100%);
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  height: 900px;
  color: white;
  margin: 50px;
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}
.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
  width: 150px;
  gap: 10px;
}
.book-cover {
  display: flex;
  width: 250px;
  margin: 30px;
  border-radius: 15px;
  cursor: pointer;
}
.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.bind-header {
  font-family: 'IMFellEnglish';
  font-size: 60px;
  line-height: 1.0;
  margin: 60px 10px 20px;
  padding: 0;
}
.bind-subtitle {
  font-family: 'IMFellEnglish';
  font-size: 30px;
  line-height: 1.0;
  margin: 0px 10px 20px;
  padding: 0;
}
.book-title {
  font-family: 'IMFellEnglish';
  font-size: 30px;
  line-height: 1.0;
  margin: 20px 10px 20px;
  padding: 0;
}
.signup {
  width: 100%;
  box-sizing: border-box;
}
#privacyPolicy {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  color: grey;
  gap: 3px;
  max-width: 100%;
  margin-bottom: 20px;
}
.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  box-sizing: border-box;
}
#logo {
  margin-left: 0px;
  margin-top: 10px
}
.signin {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 5%;
  max-width: 550px;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.signup {
  gap: 10px;
}
.intro-section {
  max-width: 1000px;
  margin-bottom: 50px;
}
#introMessage {
  margin-left: 20%;
  margin-right: 20%;
}
.carousel-container {
  width: 100%;
  padding-bottom: 3vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  align-items: center;
  background-image: url('./assets/images/background.svg');
}
.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}
.carousel img {
  width: 225px;
  height: 300px;
  object-fit: cover;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel {
  scrollbar-width: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
    /* Optional: slight upward movement */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation class for the second page */
.fade-in {
  animation: fadeIn 6s ease-in-out;
  /* Adjust duration and timing function */
}